body {
    font-size: 12pt;
    font-family: 'Play', sans-serif;
    color: #FFFFFF;
    background-color: #222222;


}

.logo{
  width: 121px;
  height: 104px;
  margin: auto;

}

.title {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Play' ,sans-serif;
    font-size: 20pt;
    top: 160px;
    text-align: center;
    font-style: normal;
}
